.vscode/

src/data/raw_data/img_align_celeba
src/data/raw_data/list_attr_celeba.txt
src/data/test_data/test.jpg
src/data/test_data/test.npy

src/data/celebA/attr.npy
src/data/celebA/img.npy
src/data/__pycache__

src/data/1.png
src/data/0.png

src/model/__pycache__

src/test/cvae_params

src/test/evalFolder
src/test/merged.png
src/test/merged0.png
src/test/merged1.png
src/test/merged2.png
src/test/merged3.png